__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.env.*
token.*
secrets.*
credentials.*
service-account*.json

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/*
!outputs/.gitkeep
!outputs/tables/
outputs/tables/*
!outputs/tables/.gitkeep
!outputs/reports/
outputs/reports/*
!outputs/reports/.gitkeep

*.csv
*.zip
*.parquet
*.duckdb
*.db
*.sqlite
*.7z
*.rar
